{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-6 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-center">
                        <div class="brand_logo_container ">
                            <img src="{% static 'mysite/img/logo.gif' %}" class="brand_logo rounded-circle small"
                                 alt="Logo">
                        </div>
                    </div>
                    <form method="post" novalidate>
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-primary">Log in</button>
                        <a href="{% url 'password_reset' %}" class="btn btn-link">Forgot your password?</a>
                    </form>
                    <p class="text text-center"><strong>-- OR --</strong></p>
                    <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-block btn-social btn-google" >
                        <span class="fa fa-google"></span> Sign in with Google
                    </a>
                    <p class="text-muted text-center"><small>Do not have an account?</small></p>
                    <a class="btn btn-sm btn-white btn-block" href="{% url 'signup' %}">Create an account</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
