{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-8 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h2>Sign Up</h2>
                    <form method="post">
                        {% csrf_token %}
                        {{ user_form|crispy }}
                        {{ profile_form|crispy }}
                        <button type="button" class="btn btn-danger" onclick="window.location.href = '/profile/';">
                            Cancel
                        </button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('#id_username').prop('disabled', true);
        })
        $("#id_email").keyup(function () {
            var data = {'email': $("#id_email").val()};
            $.ajax({
                url: '/profileajax/',
                data: data,
                dataType: 'json',
                success: function (data) {
                    $('#id_after_email').remove()
                    $('#id_email').after('<small class="text-danger" id="id_after_email">' + data["data"] + '</small>');
                },
                error: function () {
                },
            });
        })
    </script>
{% endblock %}