{% extends 'base.html' %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h2>Home</h2>
        </div>
        <div class="card-body">
            <h5 class="card-title">Hi {{ firstname }}!</h5>
            {% if isEmailVerified %}

            {% else %}
                <p>Your email is not verified</p>
                <a href="{% url 'send_email_confirmation' %}" class="btn btn-primary mt-1 mb-1">Send email
                    verification</a>
                <a href="{% url 'home' %}" class="btn btn-primary mt-1 mb-1">I have verified my email</a>

            {% endif %}
            {% if isEmailVerified == 1 %}
                <p> Please confirm your email address to complete the registration. </p>
                <a href="{% url 'send_email_confirmation' %}" class="btn btn-primary mt-1 mb-1">Send email
                    verification</a>
                <a href="{% url 'home' %}" class="btn btn-primary  mt-1 mb-1">I have verified my email</a>
            {% endif %}
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <p><a class="fas fa-shopping-bag"></a> Orders:</p>
                    <ul>
                        {% for i in orders %}
                            <li>
                                {{ i.order_number }}
                                {{ i.delivery_date }}
                                <ul>
                                    {% for h in i.item.all %}
                                        <li>
                                            {{ h }}
                                        </li>


                                    {% endfor %}
                                </ul>

                            </li>
                        {% endfor %}
                    </ul>


                </li>


            </ul>
            <a href="#" class="btn btn-primary mt-3">Go somewhere</a>
        </div>
    </div>

{% endblock %}
