{% extends 'base.html' %}

{% block content %}
    <div class="card border-dark mb-2">
        {% comment %}          ----------- The card header, it is rremoved because it is too big
        <div class="card-header">
            <h2>Home</h2>
        </div>
        {% endcomment %}

        <div class="card-body">
            <h5 class="card-title">Hi {{ firstname }}!</h5>
            {% if isEmailVerified %}

            {% else %}
                <p>Your email is not verified</p>
                <a href="{% url 'send_email_confirmation' %}" class="btn btn-primary mt-1 mb-1">Send email
                    verification</a>
                <a href="{% url 'home' %}" class="btn btn-dark mt-1 mb-1">I have verified my email</a>

            {% endif %}
            {% if isEmailVerified == 1 %}
                <p> Please confirm your email address to complete the registration. </p>
                <a href="{% url 'send_email_confirmation' %}" class="btn btn-primary mt-1 mb-1">Send email
                    verification</a>
                <a href="{% url 'home' %}" class="btn btn-primary mt-1 mb-1">I have verified my email</a>
            {% endif %}
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <p><a class="fas fa-coins"></a> Points <sup>*</sup>:</p>
                    {% if points %}

                    {% else %}
                        <P>You don't have any points</P>
                    {% endif %}
                </li>
                <li class="list-group-item">
                    <p><a class="fas fa-shopping-bag"></a> Order history:</p>
                    {% if orders %}
                    <ul>
                            {% for i in orders %}
                                <li>
                                    {{ i.order_number }}
                                    {{ i.delivery_date }}
                                    <ul>
                                        {% for h in i.item.all %}
                                            <li>
                                                {{ h }}
                                            </li>


                                        {% endfor %}
                                    </ul>

                                </li>
                            {% endfor %}

                    </ul>
                    {% else %}
                        <p>You don't have any order</p>
                    {% endif %}
                </li>
            </ul>
            <div class="row justify-content-center align-items-center ">
                <div class="btn-group mb-2 mt-3">
                    <a href="{% url 'order' %}" class="btn btn-outline-primary"><i
                            class="fa fa-tshirt"></i> Dry Cleaning Please</a>
                </div>
            </div>

        </div>
        <footer class="my-3 text-muted text-center text-small">
            <p class="mb-1">&copy; 2019 iDryClean</p>
            <ul class="list-inline text-left ml-2">
                <small class="ml-0">*: You earn 1 point per dollar spent and can use your points against next payment</small>

            </ul>
        </footer>
    </div>
    <div>
        <br>
    </div>

{% endblock %}
