{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

    <ul class="list-group">
        <form method="post">

            {% csrf_token %}
            {% for item in Items %}

                {% cycle '<div class="wrapper wrapper-content animated fadeInRight"><div class="row">' '' '' '' %}
                <div class="col-12 col-sm-6 col-xs-6 col-md-3">
                    <div class="ibox">
                        <div class="ibox-content product-box active">
                        {% comment "The following invisibile inputs created to send information about the product to cart" %}
                        {% endcomment %}
                                        <input class="small" style="visibility: hidden" name="category_{{ item }}" type="text" value="{{ item.category }}">
                                        <input class="small" style="visibility: hidden" name="description_{{ item }}" type="text" value="{{ item.description }}">
                        {% comment %} end of invisible section  {% endcomment %}
                            <div id="item" name="item" class="product-imitation">
                                {{ item }}
                            </div>
                            <div class="product-desc">
                                        <span class="product-price">
                                            ${{item.price}}
                                        </span>
                                <small class="text-muted" >Category: {{ item.category }}</small>
                                <a href="" class="product-name"><input type="hidden" value="{{ item }}"> {{ item }}</a>
                                <div class="small m-t-xs">
                                    {{item.description}}
                                </div>
                                <hr class="mt-0 mb-2">
                                <div class="form-group ">
                                    <div class="row">
                                        <div class="col-8">
                                            <label for="number_of_{{ item }}">Please select number of items: </label>
                                        </div>
                                        <div class="col-4">
                                            <select class="form-control" id="number_of_{{ item }}" name="{{ item }}">
                                                {%  if Number_of_items %}
                                                    {% for f, value in Number_of_items.items %}
                                                        {% if f == item.title %}
                                                            {% for itemnumber in range %}
                                                                {% if itemnumber ==  value  %}
                                                                    <option selected>{{ itemnumber }}</option>
                                                                {% else %}
                                                                    <option>{{ itemnumber }}</option>
                                                                {% endif %}
                                                            {% endfor %}
                                                        {% endif %}
                                                    {% endfor %}
                                                {% else %}
                                                    {% for itemnumber in range %}
                                                        <option>{{ itemnumber }}</option>
                                                    {% endfor %}
                                                {% endif %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="mt-0 mb-2"></hr>
                </div>
                {%  cycle '' '' '' '</div> </div>' %}
            {% endfor %}

            <div class="col-12 col-sm-6 col-xs-6 col-md-3">
                <div class="ibox">
                    <button type="submit" class="btn btn-primary col-12" id="btn_submit" style="visibility: hidden">Update Order</button>
                </div>
            </div>

        </form>
    </ul>
 <script>


    $(document).ready(function () {
        console.log('{{ Items }}')
        $("#btn_footer_submit").click(function () {
            $("#btn_submit").trigger("click");
        })
    })
    </script>

{% endblock %}

