{% extends 'base.html' %}

{% block content %}
    <div class="card border-dark mb-2">
        {% comment %}          ----------- The card header, it is rremoved because it is too big
        <div class="card-header">
            <h2>Profile</h2>
        </div>
        {% endcomment %}
        <div class="card-body">
            <h5 class="card-title">{{ firstname }}&nbsp{{ lastname }}</h5>

            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <p><a class="fas fa-envelope"></a> Email: {{ email }}</p>
                    {% if isEmailVerified %}

                    {% else %}
                        <p>Your email is not verified</p>
                        <a href="{% url 'send_email_confirmation' %}" class="btn btn-outline-dark">Send email
                            verification</a>
                        <a href="{% url 'profile' %}" class="btn btn-outline-dark mt-1 mb-1">I have verified my
                            email</a>

                    {% endif %}
                    {% if isEmailVerified == 1 %}
                        <p> Please confirm your email address to complete the registration. </p>
                        <a href="{% url 'send_email_confirmation' %}" class="btn btn-outline-dark mt-1 mb-1">Send email
                            verification</a>
                        <a href="{% url 'profile' %}" class="btn btn-outline-dark mt-1 mb-1">I have verified my
                            email</a>
                    {% endif %}
                </li>
                <li class="list-group-item">
                    <p><a class="fas fa-mobile-alt"></a> Phone: {{ phone }}</p>
                    {% if isPhoneVerified == 2 %}

                    {% elif isPhoneVerified == 1 %}
                        <P>Your phone verification code is sent to your number, please confirm you phone number by
                            clicking on the link sent to you.</P>
                        <p>If you have not received a verification code, you can request one by clicking on the button
                            below. Please note that you CAN NOT
                            request more than 3 verification codes.</p>
                        <a href="{% url 'sendsms' %}" class="btn btn-outline-primary">send phone verification</a>
                    {% else %}
                        <P>Your phone is not verified</P>
                        <div class="row">
                            <div class="col-6">
                                <a href="{% url 'smssent' %}" class="btn btn-outline-primary">enter code and verify
                                    phone</a>
                            </div>
                            <div class="col-6">
                                <a href="{% url 'sendsms' %}" class="btn btn-outline-primary">send phone verification</a>
                            </div>
                        </div>


                    {% endif %}
                </li>
                <li class="list-group-item">
                    <p><a class="fas fa-map"></a>
                        Address:
                        {% if not street1 == "" %}{{ street1 }} {% endif %}
                        {% if not street2 == "" %}, {{ street2 }} {% endif %}
                        {% if not city == "" %}, {{ city }} {% endif %}
                        {% if not state == "" %}, {{ state }}{% endif %}
                        {% if not zip == "" %}, {{ zip }}{% endif %}</p>
                </li>

            </ul>
            <div class="row justify-content-center align-items-center ">
                <div class="btn-group mb-3 mt-3">
                    <a href="{% url 'update_profile' %}" class="btn btn-outline-primary"><i
                            class="fa fa-sync"></i>  Update</a>
                </div>
            </div>
        </div>
    </div>
    <div>
        <br>
    </div>


{% endblock %}
