{% extends 'base.html' %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h2>Profile</h2>
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ firstname }}&nbsp{{ lastname }}</h5>

            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <p><a class="fas fa-envelope"></a> Email: {{ email }}</p>
                    {% if isEmailVerified %}

                    {% else %}
                        <p>Your email is not verified</p>
                        <a href="{% url 'send_email_confirmation' %}" class="btn btn-primary">Send email
                            verification</a>
                        <a href="{% url 'profile' %}" class="btn btn-primary mt-1 mb-1">I have verified my email</a>

                    {% endif %}
                    {% if isEmailVerified == 1 %}
                        <p> Please confirm your email address to complete the registration. </p>
                        <a href="{% url 'send_email_confirmation' %}" class="btn btn-primary mt-1 mb-1">Send email
                            verification</a>
                        <a href="{% url 'profile' %}" class="btn btn-primary mt-1 mb-1">I have verified my email</a>
                    {% endif %}
                </li>
                <li class="list-group-item">
                    <p><a class="fas fa-mobile-alt"></a> Phone: {{ phone }}</p>
                    {% if isPhoneVerified == 2 %}

                    {% elif isPhoneVerified == 1 %}
                        <P>Your phone verification code is sent to your number, please confirm you phone number by
                            clicking on the link sent to you.</P>
                        <p>If you have not received a verification code, you can request one by clicking on the button
                            below. Please note that you CAN NOT
                            request more than 3 verification codes.</p>
                        <a href="{% url 'sendsms' %}" class="btn btn-primary">send phone verification</a>
                    {% else %}
                        <P>Your phone is not verified</P>
                        <a href="{% url 'sendsms' %}" class="btn btn-primary">send phone verification</a>
                    {% endif %}
                </li>
                <li class="list-group-item">
                    <p><a class="fas fa-map"></a>
                        Address:
                        {% if not street1 == "" %}{{ street1 }} {% endif %}
                        {% if not street2 == "" %}, {{ street2 }} {% endif %}
                        {% if not city == "" %}, {{ city }} {% endif %}
                        {% if not state == "" %}, {{ state }}{% endif %}
                        {% if not zip == "" %}, {{ zip }}{% endif %}</p>
                </li>

            </ul>
            <a href="{% url 'update_profile' %}" class="btn btn-primary mt-3"><i class="fa fa-sync"></i> Update</a>
        </div>
    </div>


{% endblock %}
