{% extends 'base.html' %}

{% block content %}
    <div class="card border-dark mb-2">
        {% comment %}          ----------- The card header, it is rremoved because it is too big
        <div class="card-header">
            <h2>Profile</h2>
        </div>
        {% endcomment %}
        <div class="card-body">
            <h5 class="card-title">Settings</h5>

            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <h6> Payment information</h6>
                {% if cards == 0 %}

                        <p style="color: #dc3545"> Your credit card is not saved</p>
                        <div class="row justify-content-center align-items-center ">
                            <div class="btn-group mb-1 mt-1">
                                <a href="{% url 'add_card' %}" class="btn btn-outline-primary"><i
                                        class="fa fa-credit-card"></i> Add credit card
                                </a>
                            </div>
                        </div>

                {% else %}
                        <p> Your credit card is saved</p>
                        <div class="row justify-content-center align-items-center ">
                            <div class="btn-group mb-1 mt-1">
                                <a href="{% url 'manage_card' %}" class="btn btn-outline-primary mt-1 mb-1"><i
                                        class="fa fa-credit-card"></i> Manage credit cards
                                </a>
                            </div>
                        </div>

                {% endif %}
                </li>
                <li class="list-group-item">
                    <h6>Dry cleaning selection</h6>
                </li>
            </ul>

        </div>
    </div>
    <div>
        <br>
    </div>


{% endblock %}
