{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% if not above_threshold %}
    <div class="card">
        <div class="card-header">
            <h2>Phone number verification</h2>
        </div>
        <div class="card-body">
            <h6 class="card-title"><p>A text message with verification code has been sent to your phone, please enter
                the code</p>
            </h6>
            <ul class="list-group list-group-flush">
                <br/>
                <Label>Verification code: </Label><input type="number" class="" id="code" min="0" max="999999">
                <a id="btn_code" class="btn btn-outline-dark  mt-1 mb-1">Verify</a>
                <p id="notice" class="text-danger"></p>


                {% comment %}
                <div class="col-sm-12"><p id="pincode-callback"></p>
                    <a href="{% url 'sendsms' %}" class="btn btn-primary  mt-1 mb-1">Generate another code</a>
                </div>
                {% endcomment %}

            </ul>
        </div>
    </div>
    {% else %}
        <div class="card">
            <div class="card-header">
                <h2>Phone number verification</h2>
            </div>
            <div class="card-body">
                <h6 class="card-title"><p>You can request upto 5 phone verification codes. Please contact our support to
                    verify your phone number.</p>
                </h6>
            </div>
        </div>
        <hr class="mt-0 mb-2">

    {% endif %}
{% endblock %}
{% block javascript %}
    <script>
        $('#btn_code').click(function () {
            console.log("in btn_code")
            if ($('#code').val() > 999999) {
                $('#notice').text("Code should have up to 6 digits");
            } else {
                $('#notice').text("")
                $.ajax({
                    url: '/smsajax/',
                    data: {
                        'data': $('#code').val(),
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data.data == "error") {
                            $('#notice').text("Code is not correct, try again")
                        } else {
                            window.location.replace("{% url 'home' %}")
                        }
                    },
                    error: function () {

                    },
                });
            }

        });


    </script>

{% endblock %}