{% extends 'base.html' %}

{% block content %}

    <div class="card border-dark justify-content-center align-self-center">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h2>Reset your password</h2>
                        <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
                        <p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>



                            <div class="row justify-content-center align-items-center">
                                <div class="btn-group mb-2 mt-2">
                                    <button type="button" class="btn btn-outline-primary"
                                            onclick="window.location.href =  '{% url 'login' %}';">
                                        Return to login
                                    </button>
                                </div>

                            </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
  <div class="row justify-content-center">
    <div class="col-lg-8 col-sm-12">



    </div>
  </div>
{% endblock %}