{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% block header %}
    <style>

        .page-wrapper {
            height: 1px;
            justify-content: center;
        }
    </style>

{% endblock %}

{% block content %}

    <div class="row justify-content-center mt-2" id="id_row_signup">

        <div class="col-lg-6 col-sm-12 mt-2 mb-2">
            <div class="card border-dark">
                <div class="card-body">
                    <h2>Sign Up</h2>{{ request.path }}
                    <form method="post" id="id_form">
                        {% csrf_token %}
                        {{ form|crispy }}
                    </form>
                    <div class="row justify-content-center align-items-center ">
                        <div class="btn-group mb-1 mt-1">
                            <button id="id_cancel" class="btn btn-outline-danger mt-3">Cancel</button>
                        </div>
                        <div class="btn-group mb-1 mt-1 ml-2">
                            <button type="button" id="id_submit" class="btn btn-outline-primary mt-3">Sign up</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <p style="visibility: hidden">.</p>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function () {
            $('#js-page-content').removeClass('mt-5');
            $('#js-page-content').addClass(' justify-content-center');
            $('#id_username').addClass('form-control');
            $('#id_password1').addClass('form-control');
            $('#id_password2').addClass('form-control');
            $('#id_email').addClass('form-control')


        });

        $('#id_submit').click(function () {
            $("#id_username").val(($("#id_username").val()).toLowerCase());
            $("#id_form").submit();
        });

        $('#id_cancel').click(function (){
            window.location.href = '{% url 'logout' %}';
        });
        $('#id_cancel_2').click(function (){
            window.location.href = '{% url 'logout' %}';
        });
    </script>

{% endblock %}