{% extends 'ProofTesting.html' %}
{% block funtional_test %}

    <div id="example-basic">
        <h3>Visual Inspection</h3>
        <section>
            <div class="container">
                <div class="row">
                    <p class="font-weight-bold">1.1 Obtain work authorisation</p>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p> Has a work authorisation been obtained?</p>
                    </div>
                    <div class="col align-self-end">
                        <div class="input-group">
                            <div class="input-group-text">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                                    <label class="custom-control-label" for="customRadio1">Yes</label>
                                </div>
                            </div>
                            <div class="input-group-text">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                                    <label class="custom-control-label" for="customRadio2">No</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <p class="font-weight-bold">1.2 Visual inspection of PCS components (sensor, I/O board and isolation amplifier)</p>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p> Has a work authorisation been obtained?</p>
                    </div>
                    <div class="col align-self-end">
                        <div class="input-group">
                            <div class="input-group-text">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                                    <label class="custom-control-label" for="customRadio1">Yes</label>
                                </div>
                            </div>
                            <div class="input-group-text">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                                    <label class="custom-control-label" for="customRadio2">No</label>
                                </div>
                            </div>
                            <div class="input-group-text">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input">
                                    <label class="custom-control-label" for="customRadio1">YY</label>
                                </div>
                            </div>
                            <div class="input-group-text">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio4" name="customRadio" class="custom-control-input">
                                    <label class="custom-control-label" for="customRadio2">NN</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p> Are the loop elements clean and without any mechanical faults?</p>
                    </div>
                    <div class="col align-self-end">
                        <div class="input-group">
                            <div class="input-group-text">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                                    <label class="custom-control-label" for="customRadio1">Yes</label>
                                </div>
                            </div>
                            <div class="input-group-text">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                                    <label class="custom-control-label" for="customRadio2">No</label>
                                </div>
                            </div>
                            <div class="input-group-text">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input">
                                    <label class="custom-control-label" for="customRadio1">YY</label>
                                </div>
                            </div>
                            <div class="input-group-text">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio4" name="customRadio" class="custom-control-input">
                                    <label class="custom-control-label" for="customRadio2">NN</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p> Is the loop in perfect condition?</p>
                    </div>
                    <div class="col align-self-end">
                        <div class="input-group">
                            <div class="input-group-text">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                                    <label class="custom-control-label" for="customRadio1">Yes</label>
                                </div>
                            </div>
                            <div class="input-group-text">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                                    <label class="custom-control-label" for="customRadio2">No</label>
                                </div>
                            </div>
                            <div class="input-group-text">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input">
                                    <label class="custom-control-label" for="customRadio1">YY</label>
                                </div>
                            </div>
                            <div class="input-group-text">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio4" name="customRadio" class="custom-control-input">
                                    <label class="custom-control-label" for="customRadio2">NN</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <p class="font-weight-bold">1.3 Visual inspection in the BPCS</p>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p> Is the sensor reading plausible and are there no error messages?</p>
                    </div>
                    <div class="col align-self-end">
                        <div class="input-group">
                            <div class="input-group-text">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                                    <label class="custom-control-label" for="customRadio1">Yes</label>
                                </div>
                            </div>
                            <div class="input-group-text">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                                    <label class="custom-control-label" for="customRadio2">No</label>
                                </div>
                            </div>
                            <div class="input-group-text">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input">
                                    <label class="custom-control-label" for="customRadio1">YY</label>
                                </div>
                            </div>
                            <div class="input-group-text">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio4" name="customRadio" class="custom-control-input">
                                    <label class="custom-control-label" for="customRadio2">NN</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p> Check with the operator whether the current sensor switching point complies with the
                            documentation.</p>
                    </div>
                    <div class="col align-self-end">
                        <div class="input-group">
                            <div class="input-group-text">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                                    <label class="custom-control-label" for="customRadio1">Yes</label>
                                </div>
                            </div>
                            <div class="input-group-text">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                                    <label class="custom-control-label" for="customRadio2">No</label>
                                </div>
                            </div>
                            <div class="input-group-text">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input">
                                    <label class="custom-control-label" for="customRadio1">YY</label>
                                </div>
                            </div>
                            <div class="input-group-text">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio4" name="customRadio" class="custom-control-input">
                                    <label class="custom-control-label" for="customRadio2">NN</label>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="container mb-5">
                <div class="row">
                    <p class="font-weight-bold">1.4 Prerequisites for functional test</p>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p> Bridge SIS tripping functions.</p>
                    </div>
                    <div class="col align-self-end">
                        <div class="input-group">
                            <div class="input-group-text">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
                                    <label class="custom-control-label" for="defaultUnchecked">Checked</label>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p> Bridge BPCS tripping functions.</p>
                    </div>
                    <div class="col align-self-end">
                        <div class="input-group">
                            <div class="input-group-text">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
                                    <label class="custom-control-label" for="defaultUnchecked">Checked</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p> Switch control to manual and/or shut down cascade.</p>
                    </div>
                    <div class="col align-self-end">
                        <div class="input-group">
                            <div class="input-group-text">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
                                    <label class="custom-control-label" for="defaultUnchecked">Checked</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <h3>Functional test</h3>
        <section>
            <div class="container">
                <div class="row">
                    <p class="font-weight-bold">2.1 Check sensor safety parameters</p>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p> Do the sensor safety parameters (via HART) meet the requirements?</p>
                    </div>
                    <div class="col align-self-end">
                        <div class="input-group">
                            <div class="input-group-text">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                                    <label class="custom-control-label" for="customRadio1">Yes</label>
                                </div>
                            </div>
                            <div class="input-group-text">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                                    <label class="custom-control-label" for="customRadio2">No</label>
                                </div>
                            </div>
                            <div class="input-group-text">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                                    <label class="custom-control-label" for="customRadio1">Yes</label>
                                </div>
                            </div>
                            <div class="input-group-text">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                                    <label class="custom-control-label" for="customRadio2">No</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <p class="font-weight-bold">2.2 Check measuring range</p>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p> Is the sensor reading (via HART) plausible and are there no error messages?</p>
                    </div>
                    <div class="col align-self-end">
                        <div class="input-group">
                            <div class="input-group-text">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                                    <label class="custom-control-label" for="customRadio1">Yes</label>
                                </div>
                            </div>
                            <div class="input-group-text">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                                    <label class="custom-control-label" for="customRadio2">No</label>
                                </div>
                            </div>
                            <div class="input-group-text">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                                    <label class="custom-control-label" for="customRadio1">Yes</label>
                                </div>
                            </div>
                            <div class="input-group-text">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                                    <label class="custom-control-label" for="customRadio2">No</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p> Record calibrated measuring range and sensor unit: </p>
                    </div>
                    <div class="col align-self-end">
                        <div class="input-group">
                            <div class="input-group-text">
                                <div class="">

                                    <label>From</label>
                                    <input type="text">
                                </div>
                                <div class="">

                                    <label>To</label>
                                    <input type="text">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p> Does the sensor measuring range correspond to the measuring range in the SIS operator window?
                        </p>
                    </div>
                    <div class="col align-self-end">
                        <div class="input-group">
                            <div class="input-group-text">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                                    <label class="custom-control-label" for="customRadio1">Yes</label>
                                </div>
                            </div>
                            <div class="input-group-text">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                                    <label class="custom-control-label" for="customRadio2">No</label>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <p class="font-weight-bold">2.3 Check measuring circuit via HART</p>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p> Acknowledge all BPCS/SIS alarms</p>
                    </div>
                    <div class="col align-self-end">
                        <div class="input-group">
                            <div class="input-group-text">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="idid">
                                    <label class="custom-control-label" for="idid">Checked</label>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p> Deactivate sensor write-protect</p>
                    </div>
                    <div class="col align-self-end">
                        <div class="input-group">
                            <div class="input-group-text">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="idid">
                                    <label class="custom-control-label" for="idid">Checked</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <p class="font-weight-bold">Simulate the following functions in the electronic systems of the sensor via HART:</p>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p> Short-circuit simulation: HART simulation higher than 21mA.</p>
                    </div>
                    <div class="col align-self-end">
                        <div class="input-group">
                            <div class="input-group-text">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="idid">
                                    <label class="custom-control-label" for="idid">Checked</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p> Are there a BPCS report and an audio alarm?</p>
                    </div>
                    <div class="col align-self-end">
                        <div class="input-group">
                            <div class="input-group-text">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="idid">
                                    <label class="custom-control-label" for="idid">Yes</label>
                                </div>
                            </div>
                            <div class="input-group-text">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="idid">
                                    <label class="custom-control-label" for="idid">No</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p> Acknowledge all BPCS/SIS alarms.</p>
                    </div>
                    <div class="col align-self-end">
                        <div class="input-group">
                            <div class="input-group-text">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="idid">
                                    <label class="custom-control-label" for="idid">Checked</label>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p> Wire-break simulation: HART simulation lower than 3.6mA</p>
                    </div>
                    <div class="col align-self-end">
                        <div class="input-group">
                            <div class="input-group-text">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="idid">
                                    <label class="custom-control-label" for="idid">Checked</label>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p> Is there a BPCS report and an audio alarm?
                        </p>
                    </div>
                    <div class="col align-self-end">
                        <div class="input-group">
                            <div class="input-group-text">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                                    <label class="custom-control-label" for="customRadio1">Yes</label>
                                </div>
                            </div>
                            <div class="input-group-text">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                                    <label class="custom-control-label" for="customRadio2">No</label>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p> Acknowledge all BPCS/SIS alarms.</p>
                    </div>
                    <div class="col align-self-end">
                        <div class="input-group">
                            <div class="input-group-text">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="idid">
                                    <label class="custom-control-label" for="idid">Checked</label>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <p class="font-weight-bold">2.4 Deactivate HART simulation</p>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p> Deactivate HART simulation.</p>
                    </div>
                    <div class="col align-self-end">
                        <div class="input-group">
                            <div class="input-group-text">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="idid">
                                    <label class="custom-control-label" for="idid">Checked</label>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p> Deactivate sensor write-protect.</p>
                    </div>
                    <div class="col align-self-end">
                        <div class="input-group">
                            <div class="input-group-text">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="idid">
                                    <label class="custom-control-label" for="idid">Checked</label>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p> Check via HART: Is the sensor reading plausible and are there no error messages?</p>
                    </div>
                    <div class="col align-self-end">
                        <div class="input-group">
                            <div class="input-group-text">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                                    <label class="custom-control-label" for="customRadio1">Yes</label>
                                </div>
                            </div>
                            <div class="input-group-text">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                                    <label class="custom-control-label" for="customRadio2">No</label>
                                </div>
                            </div>
                            <div class="input-group-text">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                                    <label class="custom-control-label" for="customRadio1">Yes</label>
                                </div>
                            </div>
                            <div class="input-group-text">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                                    <label class="custom-control-label" for="customRadio2">No</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <p class="font-weight-bold">2.5 Check measuring range via HART</p>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p> Disconnect sensor from process</p>
                    </div>
                    <div class="col align-self-end">
                        <div class="input-group">
                            <div class="input-group-text">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="idid">
                                    <label class="custom-control-label" for="idid">Checked</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p> Connect pressure simulation</p>
                    </div>
                    <div class="col align-self-end">
                        <div class="input-group">
                            <div class="input-group-text">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="idid">
                                    <label class="custom-control-label" for="idid">Checked</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p> Cover the sensor measuring range by means of simulation and enter the readings displayed in the SIS window in the following table.
                        </p>
                        <table class="table table-bordered border-dark m-0 bg-light">
                            <thead>
                            <tr>
                                <th>HART simulation</th>
                                <th>SIS reading</th>
                                <th>Tolerance</th>
                                <th>Expected reading</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">0 %</th>
                                <td></td>
                                <td>±xx%</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">50 %</th>
                                <td></td>
                                <td>±xx%</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">100 %</th>
                                <td></td>
                                <td>±xx%</td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col align-self-end">
                        <div class="input-group">
                            <div class="input-group-text">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="idid">
                                    <label class="custom-control-label" for="idid">Checked</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p> Are the readings within the acceptable range?</p>
                    </div>
                    <div class="col align-self-end">
                        <div class="input-group">
                            <div class="input-group-text">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="idid">
                                    <label class="custom-control-label" for="idid">Checked</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p> Remove pressure simulation and restore correct sensor condition.</p>
                    </div>
                    <div class="col align-self-end">
                        <div class="input-group">
                            <div class="input-group-text">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="idid">
                                    <label class="custom-control-label" for="idid">Checked</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p> Acknowledge all BPCS/SIS alarms.</p>
                    </div>
                    <div class="col align-self-end">
                        <div class="input-group">
                            <div class="input-group-text">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="idid">
                                    <label class="custom-control-label" for="idid">Checked</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="container">
                <div class="row">
                    <p class="font-weight-bold">2.6 Conditions after functional test</p>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p> Reset bridging of SIS tripping functions.</p>
                    </div>
                    <div class="col align-self-end">
                        <div class="input-group">
                            <div class="input-group-text">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="idid">
                                    <label class="custom-control-label" for="idid">Checked</label>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p> Reset bridging of BPCS tripping functions.</p>
                    </div>
                    <div class="col align-self-end">
                        <div class="input-group">
                            <div class="input-group-text">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="idid">
                                    <label class="custom-control-label" for="idid">Checked</label>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p> Check in BPCS: Is the sensor reading plausible and are there no error messages?</p>
                    </div>
                    <div class="col align-self-end">
                        <div class="input-group">
                            <div class="input-group-text">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="idid">
                                    <label class="custom-control-label" for="idid">Checked</label>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <p> Operator to restart controller and/or cascade, if applicable.</p>
                    </div>
                    <div class="col align-self-end">
                        <div class="input-group">
                            <div class="input-group-text">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="idid">
                                    <label class="custom-control-label" for="idid">Checked</label>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

{% endblock %}